 <div class="row">
                  <div class="col-12">
                  
                    <%= form_with(model: @user, local: true) do |f| %>
                      <%= render 'shared/error_messages'%>
                      <div class="form-group">
                        <%= f.label :name%>
                        <%= f.text_field :name, class: 'form-control'%>

                      </div>
                      <div class="form-group">
                        
                        <label for="username">Username</label>
                        <input
                          type="text"
                          class="form-control"
                          id="username"
                          required
                        />
                      </div>
                      <div class="form-group">
                       <%= f.label :email %>
                        <%= f.email_field :email, class: 'form-control'%>

                        <small class="form-text text-white">
                          We will never share your data
                        </small>
                      </div>
                      <div class="form-group">
                        <%= f.label :password %>
                        <%= f.password_field :password, class: 'form-control'%>

                      <div class="form-group">
                        <%= f.label :password_confirmation, 'Confirmation'%>
                      </div>
                      <%= f.submit "I want my dream house", class: 'btn d-block bg-light text-red mx-auto'%>

                    <% end %>
                  </div>
                </div>
              </div>