<div class="row">
  <div class="col-9 mx-auto">
    <h4 class="h6">Here is a list of all Users</h4>
  </div>
</div>
<div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @posts %>
    </div>
      <%= will_paginate @users %>
  </div>

<div class="row">
  <div class="col-12">
    <% @users.each do |user| %>

      <p> <%= user.name%> </p>
      <small class="text-muted"> <%= user.email%> </small>
      <%= link_to "Show info", user_path(user), class: "text-muted" %>
    <% end %>
  </div>
</div>
<div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @posts %>
    </div>
      <%= will_paginate @users %>
  </div>
