
      <div class="container-fluid">
        <div class="wrapper mt-5">
          <div class="row pt-5 pl-5">
            <div
              class="col 12 order-10 order-md-1 col-md-3 d-flex flex-column align-items-center justify-content-center"
            >
              <div class="img-logo d-none d-md-block text-center">
                <img src="./images/logo.svg" alt="" />

                <h5 class="h3 d-none d-md-block text-red">Welcome</h5>
                <button class="btn text-white">Login</button>
              </div>
            </div>
            <div class="col-12 order-2 col-md-9">
              <div class="color-bg">
                <div class="row flex-column align-content-center pl-5 pl-md-0 ml-4 ml-md-0 wrapper-title-sm">
                  <h5 class="h3 d-block d-md-none text-white mx-auto">
                    Welcome
                  </h5>
                  <h5 class="h3">Fill the form to sign-up</h5>
                </div>
                <div class="row">
                  <div class="col-12">
                  
                    <%= form_with(model: @user, local: true) do |f| %>
                      <%= render 'shared/error_messages'%>
                      <div class="form-group">
                        <%= f.label :name%>
                        <%= f.text_field :name, class: 'form-control'%>

                      </div>
                      <div class="form-group">
                        
                        <label for="username">Username</label>
                        <input
                          type="text"
                          class="form-control"
                          id="username"
                          required
                        />
                      </div>
                      <div class="form-group">
                       <%= f.label :email %>
                        <%= f.email_field :email, class: 'form-control'%>

                        <small class="form-text text-white">
                          We will never share your data
                        </small>
                      </div>
                      <div class="form-group">
                        <%= f.label :password %>
                        <%= f.password_field :password, class: 'form-control'%>

                      <div class="form-group">
                        <%= f.label :password_confirmation, 'Confirmation'%>
                        <%= f.password_field :password, class: 'form-control'%>

                      </div>
                      <%= f.submit "I want my dream house", class: 'btn d-block bg-light text-red mx-auto'%>

                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

