
<% provide(:title, @user.name)%>
<div class="row">
<div class="col4 mx-auto"><div class="media">
<%= gravatar_for @user%> <div class="media-body">
<h1 class="display-5 danger"> <%= @user.name %> </h1>
<p class="text-muted"> <%= @user.email%> </p></div>
</div>
</div></div>
<div class="row">
  <div class="col-9">
   <%= link_to 'Edit your profile', edit_user_path %>
  </div>
</div>
<%= render 'apartments/apartments'%>
<div class="row">
  <div class="col-9 mx-auto">
    <h3 class="h4 display-5">
      Here are your DMs
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-10 mx-auto">
    <div class="cont d-flex flex-column">
      <% @inbox.each do |msg| %>
      <% sent = User.find(msg.send_id) if msg.send_id != nil %>
      <p>User: <%= sent.name if msg.send_id  != nil%> </p>
       <p><%= msg.body %></p> 
      <% end %>
    </div>
  </div>
</div>
