<div class="row">
    <div class="col-9 mx-auto">
        <h5 class="display-3">Edit the info about your apto</h5>
    </div>
</div>
<div class="row">
    <div class="col-9 mx-auto">
      <% if @apartment.errors.any? %>
        <h2 class="h3 text-red">The following errors prevented you from editing your announce:</h2>
        <% @apartment.errors.full_messages.each do |msg| %>
            <ul>
              <li> <%= msg %> </li>
            </ul>
        <% end %>
      <% end %>
        <%= form_with(model: @apartment, local: true, class: 'w-50 mx-auto') do |f|%>
            <div class="form-group">
                <%= f.label :adress %>
                <%= f.text_field :adress, class: 'form-control'%>
            </div>
            <div class="form-group">
                <%= f.label :price%>
                <%= f.text_field :price, class: 'form-control'%>
            </div>
            <%= f.submit 'Confirm your changes', class: 'btn d-block bg-dark text-red mx-auto'%>
        <% end %>
    </div>
</div>