<div class="row">
    <div class="col-9 mx-auto">
        <h2 class="display-5 text-dark">Here you can check all the info of your apartment</h2>
    </div>
</div>

<div class="row">
    <div class="col-5 mx-auto">
        <p>
           Here is the adress this product: <%= @apartment.adress%> 
        </p>
        <p>
          Here is your info for contact related to the sell : <%= @apartment.user.email %>
        </p>
        <p>
          Here is the price: <%= @apartment.price %>
        </p>
        <% if @apartment.bedroom %>
        <p>
          The apartment has <%= 'one bedroom' if @apartment.bedroom.one %>
                            <%= 'two bedrooms' if @apartment.bedroom.two %>
                            <%= 'three bedrooms' if @apartment.bedroom.three %>
                            <%= 'four bedrooms' if @apartment.bedroom.four %>
                            <%= 'five bedrooms' if @apartment.bedroom.five%>
                            <%= 'six bedrooms' if @apartment.bedroom.six %>
        </p>
        <% end %>
    </div>
</div>
<div class="row">
  <div class="col-12">
    <%= link_to 'Send a DM to the user', new_user_inbox_message_path(@apartment.user) %>
  </div>
</div>
<div class="row">
    <div class="col-12">
        <%= link_to 'Here you can check all apartments for sale', apartments_path, class: 'text-red'%>
    </div>
</div>

<div class="row">

  <div class="col-8">
    <p class="text-red"> Like? Left a comment sharing your opnion.</p>
  </div>
    <div class="col-3">
    <% @apartment.tags.each do |tag| %>
        <p>  <%= tag.body %> </p>
    <% end %>
  </div>
</div>
 <%= form_with(model: [ @apartment, Comment.new ]) do |f| %>
  <div class="form-group">
    <%= f.label :comments%>
    <%= f.text_area :body %>
    <%= f.submit%>
  </div>
  <% end %>
<div class="row">
  <div class="comments d-flex flex-column">
    <% @apartment.comments.each do |comment| %>
         <div class="unit">
  <%= comment.body %>    </div>

    <% end %>
  </div>
</div>

