

      <header class="header">
        <nav
          class="navbar navbar-expand-md position-fixed w-100 flex-column flex-md-row justify-content-between"
        >
          <div class="nav-left">
          <%= link_to image_tag("logo.svg", alt: 'logo'), root_path, class: 'navbar_brand'%>

        <%= link_to 'Dream Home',root_path, class: 'navbar-brand'%>

          </div>
          <div class="nav-right">
            <ul class="navbar-nav flex-row w-100">
              <li class="nav-item">
              <%= link_to('#') do%>
              <i class="far fa-user"></i> <% end %>
              </li>
              <li class="nav-item">
                <%= link_to 'See all aptos for sale', apartments_path, class: 'nav-link hidden'%>
              </li>
              <li class="nav-item">
              <%= link_to 'Home', root_path, class: 'nav-link hidden'%>
              </li>
              <li class="nav-item">
              <%= link_to('#') do%>
                <i class="fas fa-home"></i><%end%>
              </li>

              <li class="nav-item">
                <div class="dropdown">
                  <button
                    class="btn btn-secondary dropdown-toggle border-0 hidden"
                    data-toggle="dropdown"
                    id="dropB"
                  >
                    Houses
                  </button>
                  <div class="dropdown-menu">
                    <%= link_to 'Buy', '#', class: 'dropdown-item text-dark'%>
                    <%= link_to 'Rent', '#', class: 'dropdown-item text-dark'%>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <%= link_to('#') do%>
                  <i class="fas fa-building"></i><%end%>
              </li>

              <li class="nav-item">
                <div class="dropdown">
                  <button
                    class="btn btn-secondary dropdown-toggle border-0 hidden"
                    data-toggle="dropdown"
                    id="dropB2"
                  >
                    Condos
                  </button>
                  <div class="dropdown-menu">
                    <%= link_to 'Buy', '#', class: 'dropdown-item text-dark'%>
                    <%= link_to 'Rent', '#', class: 'dropdown-item text-dark'%>
                  </div>
                </div>
              </li>

              <li class="nav-item">
                <a href="#" class="nav-link"
                  ><i class="fas fa-sign-in-alt"></i
                ></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link hidden">Sign-In</a>
              </li>
              <li class="nav-item">
                <%= link_to 'Sell', new_apartment_path, class: 'nav-link hidden'%>
              </li>

              <li class="nav-item">
                <a href="./sign-up.html" class="nav-link"
                  ><i class="fas fa-user-plus"></i
                ></a>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign-up', signup_path, class: 'nav-link hidden'%>
              </li>
              <li class="nav-item">
              <%= link_to 'Contact', contact_path, class: 'nav-link hidden'%>  </li>
              <li class="nav-item">
              <%= link_to 'About', about_path, class: 'nav-link hidden'%>  </li>
            </ul>
          </div>
        </nav>
      </header>
  